.iconsColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.iconItem,
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.iconItem {
    margin-top: 10px;
}

.settings {
    margin-bottom: 10px;
}

.humburger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-stroke2-on-white);
}

.iconItem:hover,
.settings:hover {
    background: #525e87;
    border-left: 5px solid var(--color-red);
}

.humburger:hover {
    background: #525e87;
}

.iconItem:hover path[fill],
.iconItem:hover mask[fill],
.iconItem:hover rect[fill],
.humburger:hover rect[fill] {
    fill: #fff;
}

.iconItem:hover path[stroke],
.iconItem:hover rect[stroke],
.settings:hover path[stroke] {
    stroke: #fff;
}
