.container {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fff;
    composes: effectBG2 from "../../index.css";
}

.link span {
    margin: 0;
    padding-left: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.link {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    padding: 0 10px;
    border-bottom: 2px solid var(--color-red);
    height: 100%;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.link:hover a {
    color: var(--color-red);
}

.active {
    color: var(--color-red);
}
